# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# JavaScript / Node / React
node_modules/
dist/
build/

# Java
*.class
target/
.idea/

# Rust
target/

# System & Editors
.DS_Store
Thumbs.db
.vscode/
